body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

/* null style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;

  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.header-contact-list {
  display: flex;
  gap: 40px;
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact-link:hover,
.header-contact-link:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* Hero  */

.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;

  display: flex;
  margin: 0 auto;
  display: block;
  min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* hero end */

/* Advantages */

.advatages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advatages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advatages-item {
  width: calc((100% - 3 * 24px) / 4);
}
.advatages-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.advatages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;

  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;

  width: calc((100% - 24px * 3) / 4);
}

.container-text {
  padding: 32px 0;
}

.team-titel-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Portdolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 24 * 2) / 3);
}
.portfolio-img {
}

.container-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-titel-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  padding-right: 864px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footerspan {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  flex-wrap: wrap;
  padding-top: 16px;
  max-width: 264;
}
