body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

/* null style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;

  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-menu-link.curent {
  position: relative;
  color: #404bbf;
}

.curent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.header-contact-list {
  display: flex;
  gap: 40px;
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* Hero  */

.hero {
  max-width: 1440px;
  background: #2e2f42;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;

  display: flex;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* hero end */

/* Advantages */

.advatages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advatages-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
}

.advatages-icon {
  fill: #2e2f42;

  width: 64px;
  height: 64px;
}

.advatages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advatages-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advatages-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.advatages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;

  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100% - 24px * 3) / 4);
}

.container-text {
  padding: 32px 0;
}

.team-titel-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-icon-item {
}

.container-team-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-team-icon:hover,
.container-team-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* Portdolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 24 * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-img {
}

.container-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-titel-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  top: 0;
  position: absolute;

  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  background-color: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}
.container-footer {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footerspan {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  margin: 0 auto;

  max-width: 264px;
}

.container-footer-media {
}

.title-icon {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-icon-item {
}

.container-footer-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;

  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}
.container-footer-icon:hover,
.container-footer-icon:focus {
  background: #31d0aa;
}

.subscribe {
  margin-left: 60px;
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.email-form {
  display: flex;
  gap: 24px;
}

.modal-lable {
}
.subscribe-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-icon-send {
  margin-left: 16px;
  fill: #ffffff;
}

/* modal */

.backdrop {
  position: fixed;

  background-color: rgba(46, 47, 66, 0.4);
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  margin-bottom: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus + .modal-icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;

  line-height: 24px;

  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.form-wrap {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.checkbox {
  margin-bottom: 24px;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icons {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-icon-wrap {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.check-link {
  color: #4d5ae5;
}

.modal-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;

  display: flex;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}
